<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanyuebb.blog.exmapper.ExTbOperateLogMapper">
  <resultMap id="BaseResultMap" type="com.hanyuebb.blog.domain.TbOperateLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="log_id" jdbcType="INTEGER" property="logId" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="operate_ip" jdbcType="VARCHAR" property="operateIp" />
    <result column="operate_type" jdbcType="VARCHAR" property="operateType" />
    <result column="operate_desc" jdbcType="VARCHAR" property="operateDesc" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="request_params" jdbcType="LONGVARCHAR" property="requestParams" />
  </resultMap>
</mapper>